
<!--------------------------------------------------------------------------------------------------->

<div class="fixed-bottom">

  <div class="container-fluidner">

    <div class="row">

      <div class="col"></div>
      <div class="col-8 d-md-flex justify-content-md-end">
        <span style="font-size: 0.1;">
          copyright © https://github.com/GabrielBM-git/Sistema-ListaContatos-Fullstack &nbsp;&nbsp;
        </span>
      </div>

    </div>

  </div>

</div>

<!--------------------------------------------------------------------------------------------------->